@media only screen and (max-width: 600px) {
    .custom-service-1{
        
        margin-left: 15%;
        margin-right: 10%;
    }
    .custom-service-2{
       width: 80%;
       text-align: center;
    }
    .hidden{
        visibility: hidden;
    }
    .text-font-custom{
        font-size: 40px;
        text-align: center;
        line-height: 1.6;
    }
    .custom-brand{
        width: 20%;
    }

}

.custom-brand{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow-x: hidden;
}

.custom-bg{
    background-image: url('../../public/unlock.png');
    background-position: unset;
    background-repeat: no-repeat;
}

.num-border{
    color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}