@media only screen and (max-width: 600px) {

    .custom-service-1{
       align-items: center;
       text-align: center;
    }
    .custom-service-2{
       /* width: 80%; */
       text-align: center;
       justify-content: center;
    }
    .hidden{
        visibility: hidden;
    }
    .font-text-custom{
        font-size: 40px;
        text-align: center;
        justify-content: center;
        line-height: 1.6;
        margin-top: 50px;
    }
    .custom-brand{
        width: 20%;
    }
    .web{
        display: none;
    }

   
  

}

.custom-brand{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow-x: hidden; 
    /* margin-right: 100px; */
}

.custom-bg{
    background-image: url('../../public/unlock.png');
    background-position: unset;
    background-repeat: no-repeat;
    background-size:cover
}

.num-border{
    color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}


.custom-brand-image{


        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
        transform: scale(1.1);
      
}

.custom{
    text-align: center;
    justify-content: center;
}
      



